//-зведочка для рейтинга
mixin productCard(imgSrc,price, title, ratingStars, sale,voiceCount,ratingValue, oldPrice)
	.product-card
		.product-card__img(style="background-image: url(img/section6/"+imgSrc+".jpg")
		.product-card__body
			p.product-card__title !{title}
			.product-card__price
				span.price-value #{price} руб.
				if(sale)
					span.sale-value #{sale}%
				if(oldPrice)
					p.old-price #{oldPrice} руб.
			.product-card__rating
				span #{voiceCount}
				span.rating-stars
					each star in ratingStars
						i(class=" " + star)
				span #{ratingValue}
			.product-card__footer
				button.card-button(data-toggle="modal" data-target="#modalProductCard") В корзину
				span.favor-icon
					i.fas.fa-heart
	
//Секция-6 Карточки товаров
section.products#products
	.container
		.products-cards-inner
			//карточки для 1 кнопки пагинации
			.row.products-page.active(data-index="1")
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product', 2500, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star'], '-20','8 голосов', '3.5/5', 2500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product', 2650, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','far fa-star'], '','12 голосов', '4/5')
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product', 3150, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt'], '-20','15 голосов', '4.5/5', 4500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product', 2999, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star','far fa-star'], '-20','12 голосов', '2.5/5', 3500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product', 2500, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star'], '-20','8 голосов', '3.5/5', 2500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product', 2650, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','far fa-star'], '','12 голосов', '4/5')
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product', 3150, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt'], '-20','15 голосов', '4.5/5', 4500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product', 2999, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star','far fa-star'], '-20','12 голосов', '2.5/5', 3500)
			//карточки для 2 кнопки пагинации	
			.row.products-page(data-index="2")
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product1', 2500, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star'], '-20','8 голосов', '3.5/5', 2500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product', 2650, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','far fa-star'], '','12 голосов', '4/5')
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product2', 3150, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt'], '-20','15 голосов', '4.5/5', 4500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product3', 2999, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star','far fa-star'], '-20','12 голосов', '2.5/5', 3500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product1', 2500, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star'], '-20','8 голосов', '3.5/5', 2500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product2', 2650, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','far fa-star'], '','12 голосов', '4/5')
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product3', 3150, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt'], '-20','15 голосов', '4.5/5', 4500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product1', 2999, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star','far fa-star'], '-20','12 голосов', '2.5/5', 3500)

			//карточки для 3 кнопки пагинации
			.row.products-page(data-index="3")
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product4', 2500, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star'], '-20','8 голосов', '3.5/5', 2500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product5', 2650, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','far fa-star'], '','12 голосов', '4/5')
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product6', 3150, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt'], '-20','15 голосов', '4.5/5', 4500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product4', 2999, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star','far fa-star'], '-20','12 голосов', '2.5/5', 3500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product5', 2500, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star'], '-20','8 голосов', '3.5/5', 2500)
				.col-sm-6.col-md-4.col-xl-3
					+productCard('product6', 2650, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','far fa-star'], '','12 голосов', '4/5')
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product7', 3150, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star','fas fa-star','fas fa-star-half-alt'], '-20','15 голосов', '4.5/5', 4500)
				.col-sm-6.col-lg-4.col-xl-3
					+productCard('product2', 2999, 'Растение комнатное искуственное, 13 см.', ['fas fa-star','fas fa-star','fas fa-star-half-alt','far fa-star','far fa-star'], '-20','12 голосов', '2.5/5', 3500)

		.pagination
			a(href="#products").pagination-item.active(data-toggle="1") 1
			a(href="#products").pagination-item(data-toggle="2") 2
			a(href="#products").pagination-item(data-toggle="3") 3

//модальное окно для карточки товара
//- button.btn.btn-primary(type="button" data-toggle="modal" data-target="#modalProductCard")
// модалка проверить зрение
#modalProductCard.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalForm_header" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content.contact-form--center
			.modal-header
				h5#modalForm_headerTitle.modal-title Заполните форму и мы свяжемся с Вами
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span.modalForm-close(aria-hidden="true") ×
			.modal-body
				form#orderProduct.contact-form
					input(type="hidden" name="productName" value="")
					input(type="hidden" name="productPrice" value="")
					.form-row
						input(type="text" name="userName" required placeholder="Ваше имя")
						span.input-name Ваше имя
					.form-row
						input(type="text" name="email" required placeholder="Ваше имя")
						span.input-name Ваша эл. почта
					.form-row
						input(type="text" name="userPhone" required placeholder="Ваш телефон")
						span.input-name Ваш номер телефона
					.form-btn
						input.page-button(type="submit" value="Отправить")